<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="returnToSearchPage()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="activities" *ngIf="activities !== null">
      <div button class="activity" button *ngFor="let activity of activities">
        <img src="{{'assets/' + activity.category.toLowerCase() + '.png'}}"  alt="">

        <p class="category">{{activity.category}}</p>
        <p class="location"><ion-icon name="location-sharp"></ion-icon>{{activity.location}}</p>
        <p class="desc">{{activity.description}}</p>
        <p class="price">${{activity.price}} / person</p>
        <ion-button (click)="bookmark(activity)" size="large" shape="round">
          <span>Bookmark</span>
        </ion-button>
      </div>
    </div>
    <div class="no-content" *ngIf="activities === null">
      <ion-icon name="sad-outline"></ion-icon>
      <p>No trips found!</p>
    </div>
  </div>
</ion-content>
