<ion-header>
  <ion-toolbar>
    <h1>Petra</h1>
    <img id="profile-picture" src="assets/profile.png" alt="" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

  </div>
</ion-content>

<ion-tab-bar slot="bottom" color="primary">
  <ion-tab-button tab="home">
    <ion-icon name="home-outline" (click)="goHome()"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="map">
    <ion-icon name="map" (click)="goBookmarks()"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="account">
    <ion-icon name="person-outline" (click)="goAccount()"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
