<ion-header>
  <ion-toolbar>
    <h1>Petra</h1>
    <img id="profile-picture" src="{{'https://avatars.dicebear.com/api/adventurer-neutral/' + image + '.svg?mood[]=happy'}}" alt="" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Bookmarks</h1>
    <div class="activities" *ngIf="bookmarks !== null">
      <div button class="activity" button *ngFor="let bookmark of bookmarks">
        <img src="{{'assets/' + bookmark.category.toLowerCase() + '.png'}}"  alt="">

        <p class="category">{{bookmark.category}}</p>
        <p class="location"><ion-icon name="location-sharp"></ion-icon>{{bookmark.location}}</p>
        <p class="desc">{{bookmark.description}}</p>
        <p class="price">${{bookmark.price}} / person</p>
        <ion-button (click)="removeBookmark(bookmark)" size="large" shape="round">
          <span>Remove</span>
        </ion-button>
      </div>
    </div>
    <div class="no-content" *ngIf="bookmarks === null || bookmarks.length === 0">
      <ion-icon name="sad-outline"></ion-icon>
      <p>No bookmarks found!</p>
    </div>
  </div>
</ion-content>

<ion-tab-bar slot="bottom" color="primary">
  <ion-tab-button tab="home">
    <ion-icon name="home-outline" (click)="goHome()"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="map">
    <ion-icon name="map" (click)="goBookmarks()"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="account">
    <ion-icon name="person-outline" (click)="goAccount()"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
