<ion-header class="ion-no-border">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/landing-pic.png" alt="" />
  </div>

  <div class="container">
    <div id="welcome-message">
      <span>Welcome to </span> <br />
      <span>Petra</span>
    </div>

    <div id="desc">
      A place where you can meet new friends all around the world, plan trips,
      and have fun!
    </div>

    <div id = "auth-redirections">
      <ion-button (click)="goToLoginPage()" size="large" shape="round"><span>Sign in</span><ion-icon name="log-in"></ion-icon></ion-button>
      <ion-button (click)="goToSignUpPage()" size="large" shape="round"><span>Sign up</span><ion-icon name="person-add"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>
