<ion-header>
  <ion-toolbar>
    <h1>Petra</h1>
    <img id="profile-picture" src="assets/profile.png" alt="" />
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <div class="container">
    <h1>Find your next trip</h1>
    <app-input type="text" placeholder="Find the perfect trip!"></app-input>
    <h4>Explore activities</h4>

    <swiper>
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/hiking.png" alt=""></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/paintball.png" alt=""></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/atv.png" alt=""></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slide-container"><img src="assets/kayaking.png" alt=""></div>
      </ng-template>
    </swiper>

  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="schedule">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
