<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="returnToHomepage()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form #f="ngForm" id="form" (ngSubmit)="searchActivities(f)">
      <ion-searchbar
        color="primary"
        debounce="100"
        (ionChange)="search($event)"
        [value]="selectedAddress"
        name="location"
        ngModel
      ></ion-searchbar>
      <div>
        <ion-list
          class="dropdown-menu"
          color="primary"
          lines="none"
          *ngIf="addresses.length > 0"
        >
          <ion-item
            class="search-result"
            color="primary"
            button
            *ngFor="let address of addresses"
            (click)="onSelect(address)"
          >
            {{ address }}
          </ion-item>
        </ion-list>
      </div>

      <h1>Advanced Filters</h1>
      <div class="budget">
        <h4>Budget in $</h4>
        <span>Minimum</span>
        <ion-input
          class="nums"
          color="primary"
          type="number"
          placeholder="0"
          name="min"
          ngModel
        ></ion-input>
        <hr />
        <span>Maximum</span>
        <ion-input
          class="nums"
          color="primary"
          type="number"
          placeholder="Infinite"
          name="max"
          ngModel
        ></ion-input>
      </div>
      <hr />
      <div class="activities">
        <h4>Activities</h4>
        <ion-select multiple="true" name="activities" ngModel>
          <ion-select-option value="Hiking">Hiking</ion-select-option>
          <ion-select-option value="ATV">ATV</ion-select-option>
          <ion-select-option value="Paintball">Paintball</ion-select-option>
          <ion-select-option value="Kayaking">Kayaking</ion-select-option>
          <ion-select-option value="Biking">Biking</ion-select-option>
          <ion-select-option value="Skydiving">Skydiving</ion-select-option>
        </ion-select>
      </div>

      <div class="btns">
        <ion-button size="large" shape="round" type="submit">
          <span>Search</span>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
