<ion-header>
  <ion-toolbar>
    <h1>Petra</h1>
    <img id="profile-picture" src="assets/profile.png" alt="" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div id="profile-picture-container">
      <img id="profile-picture" src="assets/profile.png" alt="" />
    </div>

    <div id="redirections">
      <div class="redirection" (click)="goToPiiPage()">
        <p class="desc">Personal information</p>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="redirection" (click)="goToPublishPage()">
        <p class="desc">Are you a business owner?</p>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="redirection">
        <p class="desc">Logout</p>
        <ion-icon name="log-out"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>

<ion-tab-bar slot="bottom" color="primary">
  <ion-tab-button tab="home">
    <ion-icon name="home-outline" (click)="goHome()"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="map">
    <ion-icon name="map-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="account">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
