ion-header {
  ion-toolbar {
    --background: #f5f5f5;
    height: 80px;
    display: flex;

    h1 {
      margin-left: 5%;
      color: var(--ion-color-primary);
      font-family: "Poppins";
      font-weight: bold;
      font-size: 200%;
    }

    img {
      position: fixed;
      height: 55%;
      top: 30%;
      right: 5%;
      border-radius: 50%;
    }
  }
}

ion-content {
  --background: #f5f5f5;

  .container {
    width: calc(100% - 10%);
    margin: 20px auto 0px auto;

    h1 {
      font-size: 130%;
      font-family: "Poppins";
      font-weight: bold;
      color: var(--ion-color-secondary);
      margin-bottom: 20px;
    }

    div.activity {
      height: auto;
      background-color: white;
      box-shadow: rgba(12, 17, 85, 0.589) 0px 5px 15px;
      box-sizing: border-box;
      border-radius: 20px;
      margin-bottom: 50px;
      padding: 15px;

      img {
        width: 100%;
        border-radius: 20px;
        height: auto;
      }

      .category {
        font-family: "Poppins";
        color: var(--ion-color-secondary);
        font-weight: bold;
        font-size: 100%;
      }

      .location {
        font-family: "Poppins";
        color: var(--ion-color-secondary);
        font-weight: normal;
        font-size: 100%;
        ion-icon {
          vertical-align: baseline;
        }
      }

      .desc {
        font-family: "Poppins";
        color: var(--ion-color-secondary);
        font-weight: normal;
        font-size: 100%;
      }

      .owner {
        font-family: "Poppins";
        color: var(--ion-color-secondary);
        font-weight: normal;
        font-size: 100%;

        .username {
          color: var(--ion-color-primary);
        }
      }

      .price {
        font-family: "Poppins";
        color: var(--ion-color-secondary);
        font-weight: normal;
        font-size: 90%;
      }

      ion-button {
        display: flex;
        margin: auto;
        height: 45px;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        font-family: "Poppins";
        font-weight: normal;
        text-transform: none;
        font-size: 90%;
        width: 100%;
      }
    }

    .no-content {
      min-height: calc(100vh - 200px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ion-icon {
        font-size: 100px;
        color: var(--ion-color-primary);
      }

      p {
        font-size: 100%;
        font-family: "Poppins";
        font-weight: bold;
        color: var(--ion-color-primary);
      }
    }
  }
}

ion-tab-bar > ion-tab-button {
  color: white;
}
