<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="returnAccountPage()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div id="profile-picture-container">
      <img id="profile-picture" src="assets/profile.png" alt="" />
      <div id="camera-container">
        <ion-icon id="change-profile-picture" name="camera"></ion-icon>
      </div>
    </div>

    <form id="pii" #f="ngForm" (ngSubmit)="savePii(f)">
      <ion-item>
        <ion-label position="floating" color="primary">Full name</ion-label>
        <ion-input type="text" color="secondary" name="fullname" [value]="fullname" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Username</ion-label>
        <ion-input type="text" color="secondary" readonly="true" [value]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="email" color="secondary" readonly="true" [value]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Country</ion-label>
        <ion-select name="country" [value]="country" ngModel>
          <ion-select-option value="Afghanistan">Afghanistan</ion-select-option>
          <ion-select-option value="Albania">Albania</ion-select-option>
          <ion-select-option value="Algeria">Algeria</ion-select-option>
          <ion-select-option value="Andorra">Andorra</ion-select-option>
          <ion-select-option value="Angola">Angola</ion-select-option>
          <ion-select-option value="Antigua & Deps">Antigua & Deps</ion-select-option>
          <ion-select-option value="Argentina">Argentina</ion-select-option>
          <ion-select-option value="Armenia">Armenia</ion-select-option>
          <ion-select-option value="Australia">Australia</ion-select-option>
          <ion-select-option value="Austria">Austria</ion-select-option>
          <ion-select-option value="Azerbaijan">Azerbaijan</ion-select-option>
          <ion-select-option value="Bahamas">Bahamas</ion-select-option>
          <ion-select-option value="Bahrain">Bahrain</ion-select-option>
          <ion-select-option value="Bangladesh">Bangladesh</ion-select-option>
          <ion-select-option value="Barbados">Barbados</ion-select-option>
          <ion-select-option value="Belarus">Belarus</ion-select-option>
          <ion-select-option value="Belgium">Belgium</ion-select-option>
          <ion-select-option value="Belize">Belize</ion-select-option>
          <ion-select-option value="Benin">Benin</ion-select-option>
          <ion-select-option value="Bhutan">Bhutan</ion-select-option>
          <ion-select-option value="Bolivia">Bolivia</ion-select-option>
          <ion-select-option value="Bosnia Herzegovina">Bosnia Herzegovina</ion-select-option>
          <ion-select-option value="Botswana">Botswana</ion-select-option>
          <ion-select-option value="Brazil">Brazil</ion-select-option>
          <ion-select-option value="Brunei">Brunei</ion-select-option>
          <ion-select-option value="Bulgaria">Bulgaria</ion-select-option>
          <ion-select-option value="Burkina">Burkina</ion-select-option>
          <ion-select-option value="Burundi">Burundi</ion-select-option>
          <ion-select-option value="Cambodia">Cambodia</ion-select-option>
          <ion-select-option value="Cameroon">Cameroon</ion-select-option>
          <ion-select-option value="Canada">Canada</ion-select-option>
          <ion-select-option value="Cape Verde">Cape Verde</ion-select-option>
          <ion-select-option value="Central African Rep">Central African Rep</ion-select-option>
          <ion-select-option value="Chad">Chad</ion-select-option>
          <ion-select-option value="Chile">Chile</ion-select-option>
          <ion-select-option value="China">China</ion-select-option>
          <ion-select-option value="Colombia">Colombia</ion-select-option>
          <ion-select-option value="Comoros">Comoros</ion-select-option>
          <ion-select-option value="Congo">Congo</ion-select-option>
          <ion-select-option value="Congo">Congo</ion-select-option>
          <ion-select-option value="Costa Rica">Costa Rica</ion-select-option>
          <ion-select-option value="Croatia">Croatia</ion-select-option>
          <ion-select-option value="Cuba">Cuba</ion-select-option>
          <ion-select-option value="Cyprus">Cyprus</ion-select-option>
          <ion-select-option value="Czech Republic">Czech Republic</ion-select-option>
          <ion-select-option value="Denmark">Denmark</ion-select-option>
          <ion-select-option value="Djibouti">Djibouti</ion-select-option>
          <ion-select-option value="Dominica">Dominica</ion-select-option>
          <ion-select-option value="Dominican Republic">Dominican Republic</ion-select-option>
          <ion-select-option value="East Timor">East Timor</ion-select-option>
          <ion-select-option value="Ecuador">Ecuador</ion-select-option>
          <ion-select-option value="Egypt">Egypt</ion-select-option>
          <ion-select-option value="El Salvador">El Salvador</ion-select-option>
          <ion-select-option value="Equatorial Guinea">Equatorial Guinea</ion-select-option>
          <ion-select-option value="Eritrea">Eritrea</ion-select-option>
          <ion-select-option value="Estonia">Estonia</ion-select-option>
          <ion-select-option value="Ethiopia">Ethiopia</ion-select-option>
          <ion-select-option value="Fiji">Fiji</ion-select-option>
          <ion-select-option value="Finland">Finland</ion-select-option>
          <ion-select-option value="France">France</ion-select-option>
          <ion-select-option value="Gabon">Gabon</ion-select-option>
          <ion-select-option value="Gambia">Gambia</ion-select-option>
          <ion-select-option value="Georgia">Georgia</ion-select-option>
          <ion-select-option value="Germany">Germany</ion-select-option>
          <ion-select-option value="Ghana">Ghana</ion-select-option>
          <ion-select-option value="Greece">Greece</ion-select-option>
          <ion-select-option value="Grenada">Grenada</ion-select-option>
          <ion-select-option value="Guatemala">Guatemala</ion-select-option>
          <ion-select-option value="Guinea">Guinea</ion-select-option>
          <ion-select-option value="Guinea-Bissau">Guinea-Bissau</ion-select-option>
          <ion-select-option value="Guyana">Guyana</ion-select-option>
          <ion-select-option value="Haiti">Haiti</ion-select-option>
          <ion-select-option value="Honduras">Honduras</ion-select-option>
          <ion-select-option value="Hungary">Hungary</ion-select-option>
          <ion-select-option value="Iceland">Iceland</ion-select-option>
          <ion-select-option value="India">India</ion-select-option>
          <ion-select-option value="Indonesia">Indonesia</ion-select-option>
          <ion-select-option value="Iran">Iran</ion-select-option>
          <ion-select-option value="Iraq">Iraq</ion-select-option>
          <ion-select-option value="Ireland Republic">Ireland Republic</ion-select-option>
          <ion-select-option value="Israel">Israel</ion-select-option>
          <ion-select-option value="Italy">Italy</ion-select-option>
          <ion-select-option value="Ivory Coast">Ivory Coast</ion-select-option>
          <ion-select-option value="Jamaica">Jamaica</ion-select-option>
          <ion-select-option value="Japan">Japan</ion-select-option>
          <ion-select-option value="Jordan">Jordan</ion-select-option>
          <ion-select-option value="Kazakhstan">Kazakhstan</ion-select-option>
          <ion-select-option value="Kenya">Kenya</ion-select-option>
          <ion-select-option value="Kiribati">Kiribati</ion-select-option>
          <ion-select-option value="Korea North">Korea North</ion-select-option>
          <ion-select-option value="Korea South">Korea South</ion-select-option>
          <ion-select-option value="Kosovo">Kosovo</ion-select-option>
          <ion-select-option value="Kuwait">Kuwait</ion-select-option>
          <ion-select-option value="Kyrgyzstan">Kyrgyzstan</ion-select-option>
          <ion-select-option value="Laos">Laos</ion-select-option>
          <ion-select-option value="Latvia">Latvia</ion-select-option>
          <ion-select-option value="Lebanon">Lebanon</ion-select-option>
          <ion-select-option value="Lesotho">Lesotho</ion-select-option>
          <ion-select-option value="Liberia">Liberia</ion-select-option>
          <ion-select-option value="Libya">Libya</ion-select-option>
          <ion-select-option value="Liechtenstein">Liechtenstein</ion-select-option>
          <ion-select-option value="Lithuania">Lithuania</ion-select-option>
          <ion-select-option value="Luxembourg">Luxembourg</ion-select-option>
          <ion-select-option value="Macedonia">Macedonia</ion-select-option>
          <ion-select-option value="Madagascar">Madagascar</ion-select-option>
          <ion-select-option value="Malawi">Malawi</ion-select-option>
          <ion-select-option value="Malaysia">Malaysia</ion-select-option>
          <ion-select-option value="Maldives">Maldives</ion-select-option>
          <ion-select-option value="Mali">Mali</ion-select-option>
          <ion-select-option value="Malta">Malta</ion-select-option>
          <ion-select-option value="Marshall Islands">Marshall Islands</ion-select-option>
          <ion-select-option value="Mauritania">Mauritania</ion-select-option>
          <ion-select-option value="Mauritius">Mauritius</ion-select-option>
          <ion-select-option value="Mexico">Mexico</ion-select-option>
          <ion-select-option value="Micronesia">Micronesia</ion-select-option>
          <ion-select-option value="Moldova">Moldova</ion-select-option>
          <ion-select-option value="Monaco">Monaco</ion-select-option>
          <ion-select-option value="Mongolia">Mongolia</ion-select-option>
          <ion-select-option value="Montenegro">Montenegro</ion-select-option>
          <ion-select-option value="Morocco">Morocco</ion-select-option>
          <ion-select-option value="Mozambique">Mozambique</ion-select-option>
          <ion-select-option value="Myanmar, Burma">Myanmar, Burma</ion-select-option>
          <ion-select-option value="Namibia">Namibia</ion-select-option>
          <ion-select-option value="Nauru">Nauru</ion-select-option>
          <ion-select-option value="Nepal">Nepal</ion-select-option>
          <ion-select-option value="Netherlands">Netherlands</ion-select-option>
          <ion-select-option value="New Zealand">New Zealand</ion-select-option>
          <ion-select-option value="Nicaragua">Nicaragua</ion-select-option>
          <ion-select-option value="Niger">Niger</ion-select-option>
          <ion-select-option value="Nigeria">Nigeria</ion-select-option>
          <ion-select-option value="Norway">Norway</ion-select-option>
          <ion-select-option value="Oman">Oman</ion-select-option>
          <ion-select-option value="Pakistan">Pakistan</ion-select-option>
          <ion-select-option value="Palau">Palau</ion-select-option>
          <ion-select-option value="Panama">Panama</ion-select-option>
          <ion-select-option value="Papua New Guinea">Papua New Guinea</ion-select-option>
          <ion-select-option value="Paraguay">Paraguay</ion-select-option>
          <ion-select-option value="Peru">Peru</ion-select-option>
          <ion-select-option value="Philippines">Philippines</ion-select-option>
          <ion-select-option value="Poland">Poland</ion-select-option>
          <ion-select-option value="Portugal">Portugal</ion-select-option>
          <ion-select-option value="Qatar">Qatar</ion-select-option>
          <ion-select-option value="Romania">Romania</ion-select-option>
          <ion-select-option value="Russian Federation">Russian Federation</ion-select-option>
          <ion-select-option value="Rwanda">Rwanda</ion-select-option>
          <ion-select-option value="St Kitts & Nevis">St Kitts & Nevis</ion-select-option>
          <ion-select-option value="St Lucia">St Lucia</ion-select-option>
          <ion-select-option value="Saint Vincent & the Grenadines">Saint Vincent & the Grenadines</ion-select-option>
          <ion-select-option value="Samoa">Samoa</ion-select-option>
          <ion-select-option value="San Marino">San Marino</ion-select-option>
          <ion-select-option value="Sao Tome & Principe">Sao Tome & Principe</ion-select-option>
          <ion-select-option value="Saudi Arabia">Saudi Arabia</ion-select-option>
          <ion-select-option value="Senegal">Senegal</ion-select-option>
          <ion-select-option value="Serbia">Serbia</ion-select-option>
          <ion-select-option value="Seychelles">Seychelles</ion-select-option>
          <ion-select-option value="Sierra Leone">Sierra Leone</ion-select-option>
          <ion-select-option value="Singapore">Singapore</ion-select-option>
          <ion-select-option value="Slovakia">Slovakia</ion-select-option>
          <ion-select-option value="Slovenia">Slovenia</ion-select-option>
          <ion-select-option value="Solomon Islands">Solomon Islands</ion-select-option>
          <ion-select-option value="Somalia">Somalia</ion-select-option>
          <ion-select-option value="South Africa">South Africa</ion-select-option>
          <ion-select-option value="South Sudan">South Sudan</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Gender</ion-label>
        <ion-select name="gender" [value]="gender" ngModel>
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Transgender">Transgender</ion-select-option>
          <ion-select-option value="Gender neutral">Gender neutral</ion-select-option>
          <ion-select-option value="Non-binary">Non-binary</ion-select-option>
          <ion-select-option value="Agender">Agender</ion-select-option>
          <ion-select-option value="Pangender">Pangender</ion-select-option>
          <ion-select-option value="Genderqueer">Genderqueer</ion-select-option>
          <ion-select-option value="Two-spirit">Two-spirit</ion-select-option>
          <ion-select-option value="Third gender">Third gender</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Whatsapp</ion-label>
        <ion-input type="text" color="secondary" name="whatsapp" [value]="whatsapp" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Facebook</ion-label>
        <ion-input type="text" color="secondary" name="facebook" [value]="facebook" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Instagram</ion-label>
        <ion-input type="text" color="secondary" name="instagram" [value]="instagram" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Tiktok</ion-label>
        <ion-input type="text" color="secondary" name="tiktok" [value]="tiktok" ngModel></ion-input>
      </ion-item>
      <div class="btns">
        <ion-button size="large" shape="round" type="submit">
          <span>Save</span>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
