<ion-content>
  <div class="container">
    <div id="header">
      <img src="assets/landing-pic.png" alt="" />
    </div>
    <div id="welcome-message">
      <span>Welcome to </span> <br />
      <span>Petra</span>
    </div>

    <div id="desc">
      A place where you can discover, plan trips, and have fun!
    </div>

    <div id="auth-redirections">
      <ion-button (click)="goToLoginPage()" size="large" shape="round"
        ><span>Login</span><ion-icon name="log-in"></ion-icon
      ></ion-button>
      <ion-button (click)="goToSignUpPage()" size="large" shape="round">
        <span>Register</span></ion-button>
    </div>
  </div>
</ion-content>
